
/** Montserrat Light **/
@font-face {
    font-family: 'Montserrat Alternates Light';
    src: url('./fonts/montserrat_alternates_light.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/montserrat_alternates_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/montserrat_alternates_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/montserrat_alternates_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/montserrat_alternates_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/montserrat_alternates_light.svg#montserrat_alternates_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
/** Montserrat Medium **/
@font-face {
    font-family: 'Montserrat Alternates Medium';
    src: url('./fonts/montserrat_alternates_medium.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/montserrat_alternates_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/montserrat_alternates_medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/montserrat_alternates_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/montserrat_alternates_medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/montserrat_alternates_medium.svg#montserrat_alternates_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

body{
    font-family: 'Montserrat Alternates Light', sans-serif;
}
.card-title {
    font-family: 'Montserrat Alternates Medium', sans-serif;
}
.card-descript {
    font-size: 0.9em;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.product__cart {
    border-top: none;
    border-left: none;
    border-right: none;
}

a{
    text-decoration: none;
    color: black;
}

.input_none {
    outline: 0;
    outline-offset: 0;
}

.category-name{
    margin-top: 0.5em;
    margin-bottom: 0.9em;
}

.btn-minus{
    border: 1px solid black;
    background: rgba(255, 255, 255, 0);
}

.btn-minus:focus{
    border: 1px solid black;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.btn-minus:hover{
    border: 1px solid black;
    background: rgba(255, 255, 255, 0);
}

.btn-minus:active{
    border: 1px solid #ffc107;
    background: rgba(255, 255, 255, 0);
    transform: scale(1.1) perspective(1px)
}


.btn-plus:focus{
    box-shadow: none;
}

.btn-plus:active{
    transform: scale(1.1) perspective(1px)
}


.quantity__input {
    border:none;
    width:100%;
    min-width: 35px;
    display: none;
}

.hide{
    display: none;
}