{% extends "menu/base.html" %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="card_image">
        <div class="col-12 mx-auto my-auto">
          <img src="{{product.photo.url}}" class="img-fluid rounded" alt="...">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>{{product.name}} {% if product.grams%}, {{product.grams}}г {% endif %}</h2>
      </div>
      <div class="row">
        <div class="col">
          <i class="fa fa-creative-commons" aria-hidden="true"></i>
          <i class="fa fa-creative-commons" aria-hidden="true"></i>
          <i class="fa fa-creative-commons" aria-hidden="true"></i>
        </div>
        <div class="col">
          {% if product.callory%} <p>{{product.callory}}/{{product.protein}}/{{product.fats}}/{{product.carbohydrates}} {% endif %}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <p><small>{{product.description}}.</small></p>
    </div>
    <div class="row mb-3">
    {% if questions %}
    {% for question in questions %}
    <div class="form-group row mx-auto">
      <label for="size" class="col-2 col-form-label m-0 p-0">{{question.question}}</label>
      <select id="size" class="col-10 form-control">
      {% for answer in question.answers_set.all %}
        <option>{{answer.name}}</option>
      {% endfor %}
      </select>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <form id='mainForm' method="POST" action="{% url 'cart_add_advanced' product.id %}"
  {% if topping_list %}

  <label class="m-0 p-0">Топпинги</label>
  
  {% for topping in topping_list %}
    <div class="row mx-auto mb-1">
      <div class="row border mx-auto rounded" >
        <div class="col-6 " >
          <div class="text">
            <p class="m-0 p-0"><small>{{topping.name}}</small></p>
            <p class="m-0 p-0"><small>{{topping.price}} р</small></p>
          </div>
        </div>

        <div class="col my-auto" >
          <div class="d-flex justify-content-end align-items-center">
            <button type="button" style='display: none;' class="btn btn-warning px-2 btn-minus"
             >
              <i class="fas fa-minus"></i>
            </button>

              <span id='quantity__product' class="quantity__product  mx-3">0</span> 
              <input  disabled data-id="{{topping.id}}" min="0" name="quantity" value="0" type="number" class="topping" style="border:none; display:none; width:100%; min-width: 30px; max-width: 30px;" />


            <button type="button" class="btn btn-warning px-2 btn-plus"
              >
              <i class="fas fa-plus"></i>
            </button>
          </div>  

        </div>
      </div>

    </div>
    {% endfor %}
    {% endif %}

  </div>
  <nav class="navbar bg-light sticky-bottom">
    <div class="container-fluid" >
      <div class="row justify-content-center d-flex align-items-center" >
        <div class="col">
          <div class="d-flex align-items-center" style="max-width: 300px">
            <button type="button" class="btn btn-warning px-2 btn-minus"
             >
              <i class="fas fa-minus"></i>
            </button>

              <span id='quantity__product' class="quantity__product  mx-3">1</span> 
              <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" style=" width:100%; min-width: 30px; display:none;" />


            <button type="button" class="btn btn-warning px-2 btn-plus"
              >
              <i class="fas fa-plus"></i>
            </button>
          </div>

        </div>
        <div class="col ">
          <div class="">
            <span class="fw-bold text-center "> {{product.new_price}} р</span>
          </div>

        </div>
        <div class="col mx-auto ">
          <div class="">
           <button class="btn btn-warning  text-nowrap" type='submit'>
              В корзину 
            </button>
          </div>

        </div>
      </div>
    </div>
  </nav>
  <input hidden name='toppings' id='input_toppings' value=""/>
  <input hidden name='update' value="true"/>
  {% csrf_token %}
 </form>
</body>
</html>

<script src="https://kit.fontawesome.com/7bd2dc06d4.js" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">

$( ".btn-minus" ).click(function() {
  this.parentNode.querySelector('input[type=number]').stepDown();
  this.parentNode.querySelector('span[id=quantity__product]').textContent = this.parentNode.querySelector('input[type=number]').value;
   var value = this.parentNode.querySelector('input[type=number]').value;
   
  if (value <= 0){
    $(this).parent().find('.btn-minus').hide();
  }
});

$( ".btn-plus" ).click(function() {
  this.parentNode.querySelector('input[type=number]').stepUp();
  this.parentNode.querySelector('span[id=quantity__product]').textContent = this.parentNode.querySelector('input[type=number]').value;
  var value = this.parentNode.querySelector('input[type=number]').value;
  if (value > 0){
    $(this).parent().find('.btn-minus').show();
  }
});

$(document).on('submit', '#mainForm', function(e){
  var actionUrl = $(this).attr('action');
  var form = $(this);

  toppings = $('.topping');
  var jsonData = [];
  toppings.each(function(index) {
    console.log($(this).val())
    if($(this).val() > 0)
      jsonData.push({'id': $(this).attr('data-id'), 'quantity': $(this).val(), 'update': true});
  });
  console.log(jsonData);
  $('#input_toppings').val(JSON.stringify(jsonData));
  $.ajax({
            data: $(this).serialize(), // получаяем данные формы
            url: actionUrl,
            method: 'post',
            dataType: 'json',
            // если успешно, то
            success: function (response) {
              if(response.is_taken){
                
              }
                //alert(response);
            },
            // если ошибка, то
            error: function (response) {
                // предупредим об ошибке
                //console.log(response.responseJSON.errors)
                  alert("err");
            }
        });
  return false;
});
</script>
{% endblock %}