{% extends "menu/base.html" %}

{% block content %}

<div class="container ">
<div class="row">
  {% for category in categorys_list %}
  <div class="col-6 col-sm-4 pb-3">
    <div class="card h-100" >
      <a href="category/{{category.slug}}">
       <img src="{{ category.photo.url }}" class="card-img-top" alt="...">
       <div class="category-name">
          <h6 class="card-title ps-2">{{ category.name }}</h6>
      </div>
      </a>
    </div>
  </div>
  {% endfor %}
 
</div>
</div>
{% endblock %}