  <nav class="navbar bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand mx-left" onClick="javascript:history.go(-1);">
        <img src="https://img.icons8.com/ios/50/000000/back--v1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand mx-auto" href="#">
        <img src="https://img.icons8.com/dusk/64/000000/restaurant-menu.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Online menu
      </a>
      <a class="navbar-brand mx-right" href="/cart">
        <img src="https://img.icons8.com/ios/50/000000/buy--v1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>