{% extends "menu/base.html" %}

{% block content %}


  {% for product in products_list%}
  <div class="card mb-1 mx-1" >
  <div class="row g-2">
    <div class="">

    </div>
    <div class="col-4 mx-auto my-auto">
      <a href="{{category_slug}}/{{product.slug}}">
      <img src="{{product.photo.url}}" class="img-fluid rounded" alt="...">
      </a>
    </div>
    
    <div class="col"  >
      <div class="" >
        <p class="card-title text-start fs-5 lh-1">{{product.name}}</p>
        <p class="card-subtitle text-start lh-1"><small>{{product.description}}</small></p>
      </div>
      
      <div class="row" >
        <div class="col mx-auto">
          <p class=" text-start lh-1"><small>{% if product.grams %}{{product.grams}} г{% endif%}</small></p>
        </div>
      </div>
      <div class="row " >
        <div class="col mx-auto" >
          <p class="card-subtitle text-start text-decoration-line-through lh-1" ><small>{% if product.old_price %}{{product.old_price}} р{% endif%}</small></p> 
          <p class="card-title text-start lh-1" >{{product.new_price}} р</p>
        </div>
        <div class="col" >
        {% if product.topping_group_id %}
        <div class="d-flex bottom-0 end-0 align-items-center justify-content-end mx-2" style="max-width: 300px">
        <button class="btn btn-warning " type='submit'>
                      Выбрать 
                    </button>
        </div>
        {% else %}
        
        <form method='post' id='myform' action="{% url 'cart_add' product.id %}">
          <div class="d-flex bottom-0 end-0 align-items-center justify-content-end mx-2" style="max-width: 300px">
            <button style='display: none;' class="btn btn-warning px-2 btn-minus " data-id="{{product.id}}"
              >
              <i class="fas fa-minus"></i>
            </button>
              
              {% csrf_token %}
              <span id='quantity__product' class="quantity__product  mx-3">0</span> 
              <input id="form1" min="0" name="quantity" value="0" type="number" style="border:none; width:100%; min-width: 35px; display: none;" />
              <input hidden name='update' value='True'/>
            <button class="btn btn-warning  px-2 btn-plus " data-id="{{product.id}}"
             >
              <i class="fas fa-plus"></i>
            </button>
          </div>
          </form>
        {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
</div>
{% endfor %}




<script src="https://kit.fontawesome.com/7bd2dc06d4.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script type="text/javascript">
  $( ".btn-minus" ).click(function() {
    this.parentNode.querySelector('input[type=number]').stepDown();
    this.parentNode.querySelector('span[id=quantity__product]').textContent = this.parentNode.querySelector('input[type=number]').value;

    var value = this.parentNode.querySelector('input[type=number]').value;
      
      if (value <= 0){
        $(this).parent().find('.btn-minus').hide();
      }

  });

  $( ".btn-plus" ).click(function() {
    this.parentNode.querySelector('input[type=number]').stepUp()
    this.parentNode.querySelector('span[id=quantity__product]').textContent = this.parentNode.querySelector('input[type=number]').value;

    var value = this.parentNode.querySelector('input[type=number]').value;
    if (value > 0){
      $(this).parent().find('.btn-minus').show();
    }

  });

$('#myform').on('submit',function(e){

  var actionUrl = $(this).attr('action')
  $.ajax({
            data: $(this).serialize(), // получаяем данные формы
            url: actionUrl,
            method: 'post',
            dataType: 'json',
            // если успешно, то
            success: function (response) {
                //alert(response);
            },
            // если ошибка, то
            error: function (response) {
                // предупредим об ошибке
                //console.log(response.responseJSON.errors)
                  alert("err");
            }
        });
  return false;
  });



</script>

{% endblock %}